/* You can add global styles to this file, and also import other style files */

body>app-root>h1 {
    margin-top: 6%;
}

.album {
    height: 440px
}

body>app-root>div>app-c-artist>div>header>div>img {
    height: 300px;
}